<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suit">

    <test name="Test">

        <parameter name="browser" value="chrome"></parameter>
        
        <classes>
            <class name="Session_45_TestNG_DataProviders_Parallel_Testing.task_02.ParamTest"></class>
        </classes>
        
    </test> <!-- Test -->

</suite> <!-- Suite -->